
        
        body {
            background-image:url(http://www.foundsf.org/images/e/e7/Sf-skyline-2009-from-ti_5198.jpg)
        }
        
        table { 
            border: 7px solid rgba(225, 225, 111, .5);
            font-size: 30px;
        }
        
        a:hover {
            background-color: orangered; 
        }
            
        .main {
            margin: 30px;
            padding: 20px;
            background-color: deepskyblue;
            border: 10px solid rgba(225, 225, 111, .5) ;   
        }
        .main2 {
            margin: 10px;
            padding: 10px;
            background-image: violet;
            border: 10xp dotted green
             }
        .white {
            color: white;
        }
